/* :root{
  --toastify-color-success: #AACB73;
  --toastify-color-error: #DBA39A;
 } */

@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

:root {
  --main-bg-color: #fefcf3;
  --light-color: #f5ebe0;
  --neutral-color: #f0dbdb;
  --accent-color: #dba39a;
}
#root {
  /* max-width: 1280px; */
  margin: 0, auto;
  padding: 0 3rem;
  background-color: #f5ebe0;
  color: #713f4b;
  font-family: "Quicksand", sans-serif;
}
body {
  margin: 0;
  padding: 0;
  align-items: flex-start;
  min-width: 320px;
  min-height: 100vh;
  background-color: #fefcf3;
  font-family: "Quicksand", sans-serif;
}
a {
  color: #713f4b;
  text-decoration: none !important;
}
a:active {
  color: #713f4b;
}
a:visited {
  color: #713f4b;
}
a:hover {
  color: #713f4b;
}


/* div .toast-success .Toastify__toast .Toastify__toast-theme--colored  {
  background-color: #aacb73;
}
div .toast-error .Toastify__toast .Toastify__toast-theme--colored  {
  background-color: #dba39a;
} */

/* 
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.length-maximum-reached{
  background-color: rgb(201, 133, 133);
} */
